$rock:rgb(148, 81, 81);
$ghost : rgb(247, 247, 247);
$electric : rgb(255, 255, 161);
$bug : #f6d6a7;
$poison : #e0a7f6;
$normal : #f4f4f4;
$fairy : rgba(255, 192, 203, 0.863);
$fire : #fbe3df;
$grass : #e2f9e1;
$water : #e0f1fd;
$dark : '#4F3A2D';
$dragon:'#755EDF';
$fighting:'#823551D';
$flying:'#A3B3F7';
$ground:'#D3B357';
$ice:'#A3E7FD';
$psychic:'#ED4882';
$steel:'#B5B5C3';
// "shadow","unknown"